body  {
  background-repeat: no-repeat;
  background-image: url("https://www.hindugodwallpaper.com/downloadfiles.php?id=3813");
  background-color: #cccccc;
  align: center;
}

div {
  align-self: center;
}
